@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
:root{
    --main-color:#161836;
    --name-text:#ccd6f6;
    --text:#8892b0;
    --monospace-text:#8dc7b3;
}
 /*main*/
 *{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  scroll-behavior:smooth;
}
html{
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body{
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4;
  background-color: var(--main-color);
  -webkit-font-smoothing: antialiased;
}
div{
  display: block;
}
/*navigation*/
nav{
  display: flex;
  justify-content: flex-end;
  top:100%;
  left: 0;
  width: 100%;
  background-color: var(--main-color);
}
.nav-list{
  display:block;
  padding:2rem;
  font-size:1.5rem;
  color:var(--name-text);
  font-weight: 550;
  font-family: 'Space Mono', monospace;
}
.nav-list:hover {
  color:var(--monospace-text);
}
.nav-list-span{
  color:var(--monospace-text)
}
@media (max-width: 28.75em) {
  .nav {
    justify-content: center;
  }

  .nav-list {
    margin: 0 1rem;
  }
}

/*welcome section*/
#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100vh;
    background-color:var(--main-color);
  }
#hello-word> h1{
    font-size:5rem;
    font-family: 'Poppins',sans-serif;
    font-weight: 700;
    text-align: left;
  }
.name{
  color:var(--name-text);
  margin: 0px;
  line-height: 1.1;
  font-family: 'Poppins',sans-serif;
}
.developer{
  color:var(--text);
  line-height: 0.9;
  margin-top: 5px;
  font-family: 'Poppins',sans-serif;
}
#hi-text{
  transition-delay: 100ms;
}
a {
  text-decoration: none;
  color: var(--name-text);
  }
.monospace-text{
  color:var(--monospace-text);
  font-family: 'Space Mono', monospace;
  text-align: left;
  font-weight: 550;
}
#hello-word{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10%;
}
#icons-contact{
  display: flex;
  width: 50%;
  flex-direction : row;
  color:var(--text);
}
.logo-contact-ion{
  color: var(--text);
  text-decoration: none;
  font-size: 1.8em;
  padding-top: 40%;
  padding-right: 1rem;
  transition: all;
  -moz-transition: all 0.5s linear;
 -o-transition: all 0.5s linear;
 -webkit-transition: all 0.5s linear;
}
.logo-contact-ion:hover{
  color:var(--name-text);
  transition: all 0.5s ease;
  translate: 0px -5px;
}
.logo-contact-ion:active{
  color:var(--monospace-text);
  transition:0.2s;
  translate: 0px 5px;
}
/*about me*/
#aboutme-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100vh;
}
#about-me-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10%;
  width: 70%;
}
#languages{
  display: flex;
  width: 50%;
}
.what-i-learn{
  display : flex;
  flex-direction : row;
}
#location-p{
  font-size:1em;
  color:var(--name-text);
  font-family: 'JetBrains Mono', monospace;
  text-align: left;
  font-weight: 550;
  letter-spacing:0.15em;
}
#aboutme-h2{
  line-height: 130%;;
}
/*project section*/
#project-list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10%;
  width: 70%;
}
.project-img{
  width: 30%;
}
.project-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10%;
  width: 70%;
}
.project-title{
  color: var(--name-text);
  font-weight: bold;
  margin-left: 8%;
  margin-top: -7%;
}
.code-txt{
  color:var(--main-color);
  transition: all;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
}
.project-title:hover .code-txt{
  color:var(--monospace-text);
  transition: 0.3s;
}
#show-all-btn{
  padding: 0.6em 3em;
  width: max-content;
  border: 2px solid #8dc7b3;
  background: none;
  color:#fff;
  border-radius: 90px;
  font-size: 1.8rem;
  transition: all;
  -moz-transition: all 0.5s linear;
 -o-transition: all 0.5s linear;
 -webkit-transition: all 0.5s linear;
 margin-bottom: 2rem;
 margin-left:40% ;
}
#show-all-btn:hover{
  background-color: var(--monospace-text);
  color: var(--main-color);
  transition: 0.5s;
  translate: 0px -5px;
  font-weight: bold;
}
.project-img{
  padding: 3em 0 4em 0;
  float: left;
}
/*contact section*/
.contact-link-div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
}
#contact-link-div-h2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10%;
  width: 80%;
}
.contact-link > ion-icon{
  font-size:2em;
  padding-bottom: 1.8em;
  padding-right: 2rem;
  transition: all;
  -moz-transition: all 0.5s linear;
 -o-transition: all 0.5s linear;
 -webkit-transition: all 0.5s linear;
}
.contact-link > ion-icon:hover{
  color:var(--monospace-text);
  transition:0.5s;
  translate: 0px -5px;
}
#mail_btn{
  padding: 0.6em 3.5em;
  border: 2px solid #8dc7b3;
  background: none;
  color:#fff;
  font-weight: bold;
  border-radius: 90px;
  font-size: 1.8rem;
  transition: all;
  -moz-transition: all 0.5s linear;
 -o-transition: all 0.5s linear;
 -webkit-transition: all 0.5s linear;
 margin-bottom: 2rem;
}
#mail_btn:hover{
  background-color: var(--monospace-text);
  color: var(--main-color);
  transition: 0.5s;
  font-weight: bold;
  padding: 0.6em 4em;
}
#contact-section-h2{
  font-family: 'Poppins',sans-serif;
  color:var(--name-text);
  padding-bottom: 2rem;
}
/*responsitive*/
@media screen and (max-width:767px) {
  .nav-list{
    font-size: 1.3rem;
    padding: 1.5rem;
  }
  #hello-word> h1{
    font-size:3.5rem;
  }
  .html-or-css-logo{
    font-size:4.5rem;
  }
  h2{
    font-size:1.5rem;
  }
  #mail_btn{
    font-size:1.5rem;
    padding:1em 2.8em;
    transition: 0;
    translate: 0;
  }
  .contact-link > ion-icon{
    font-size:1.8em;
  }
}
@media screen and(max-width:1920px){
  .nav-list{
    font-size: 1.8rem;
    padding: 1.7rem;
  }
  #hello-word> h1{
    font-size:4rem;
  }
  .html-or-css-logo{
    font-size:5rem;
  }
  h2{
    font-size:1.8rem;
  }
  #mail_btn{
    font-size:1.8rem;
    padding:1.3em 3em;
  }
  .contact-link > ion-icon{
    font-size:2em;
  }
}
/*icon*/
#location-icon{
  color:var(--name-text);
}
.html-or-css-logo{
  color:var(--name-text);
  font-size: 5rem;
}
/*loading*/
.loading {
  color: transparent;
  background: linear-gradient(100deg, #eceff1 30%, #f6f7f8 50%, #eceff1 70%);
  background-size: 400%;
  animation: loading 1.2s ease-in-out infinite;
}

@keyframes loading {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
